.my-orders h1{
   margin-top: 50px;
   margin-bottom: 50px;
}
.my-orders{
    width: 900px;
}
.row{
    padding-left: 100px;
}
.order-data {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;

}