<app-nav></app-nav>
<div class="my-orders">
  <h1>My Orders</h1>
  <div class="row">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>OrderID</span>
    </div>
    <div class="col-sm-2">
      <span>Price</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span>Action</span>
    </div>
  </div>
  

  <div class="row order-data">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>#100</span>
    </div>
    <div class="col-sm-2">
      <span>12000</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span><button class="btn btn-danger" (click)="removeItem(item)">Cancel Item</button></span>
    </div>
  </div>
  <div class="row order-data">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>#100</span>
    </div>
    <div class="col-sm-2">
      <span>12000</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span><button class="btn btn-danger" (click)="removeItem(item)">Cancel Item</button></span>
    </div>
  </div>
  <div class="row order-data">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>#100</span>
    </div>
    <div class="col-sm-2">
      <span>12000</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span><button class="btn btn-danger" (click)="removeItem(item)">Cancel Item</button></span>
    </div>
  </div>
  <div class="row order-data">
    <div class="col-sm-2">
      <span>Order</span>
    </div>
    <div class="col-sm-2">
      <span>#100</span>
    </div>
    <div class="col-sm-2">
      <span>12000</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span><button class="btn btn-danger" (click)="removeItem(item)">Cancel Item</button></span>
    </div>
  </div>
</div>
