.card-top
{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
 background-clip: border-box;
 border: 1px solid rgba(0,0,0,0.2);
 border-radius: .25 rem;
}
.items img
{
  width: 70px;
  height: 60px;
}
.items
{
  margin: 0px 15px;
  text-align: center;
}

.items a:hover
{
  color: blue;
}

.card
{
  padding: 20px;
  margin: 50px;
}
.card img
{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover
{
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

/* .card{
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;overflow:hidden;overflow-y: scroll;
}  

.h5 {
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;overflow-y: scroll;
}

.p
{
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;overflow-y: scroll;

}  
*/

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;;
}



