<html>
<app-nav></app-nav>
<div class="Step">
    <h1 class='text-center'> LAPTOP PRODUCTS</h1>
    </div>
<section class="content sproduct my-5 pt-5">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-12">
            <img class="img-fluid w-100 pb-1" src="../../assets/apple lap.jpg" id="MainImg" alt="">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="../../assets/apple lap.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="../../assets/apple2.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="../../assets/apple3.jpg" width="100%" class="small-img" alt="">
            </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
            <h6>Home / Laptop Products </h6>
            <h3 class="py-4">APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN63HN/A</h3>
            <h2>Rs. 80,000.00</h2>
            <div class="OP">
                Rs.89,000.00
            </div>
            <select name="my-3">
            <option>Select Color</option>
            <option>Gray</option>
            <option>Black</option>
            <option>Blue</option>
            <option>Red</option>
            </select>
            <input type="number" value="1">
            <button class="buy-btn">Add To Cart</button>
           <button class="buy-btn1"><a routerLink="/billing">BUY!!</a></button>
            <h4 class="mt-5 mb-5">Product Details</h4>
            <span>
             <ul>
                <li>Apple M1 Processor</li>
                <li>8 GB DDR4 RAM</li>
                <li>Mac OS Operating System</li>
                <li>256 GB SSD</li>
                <li>33.78 cm (13.3 inch) Display</li>
                <li>Built-in Apps: iMovie, Siri, GarageBand, Pages, Numbers, Photos, Keynote, Safari, Mail, FaceTime, Messages, Maps, Stocks, Home, Voice Memos, Notes, Calendar, Contacts, Reminders, Photo Booth, Preview, Books, App Store, Time Machine, TV, Music, Podcasts, Find My, QuickTime Player</li>
                <li>1 Year Limited Warranty</li>
            </ul>
            </span>
        </div>
    </div>

</section>

</html>