.small-img-group
{
    display: flex;
    justify-content: space-between;
}

.small-img-col
{
    flex-basis: 33%;
    cursor: pointer;
}
.OP2
{
    text-decoration: line-through;
    font-size: 25px;
    color: black;
    
}

.sproduct select
{
  display: block;
  padding: 5px 10px;
}

.sproduct input
{
    width: 50px;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 20px;
}

.sproduct input:focus
{
  outline: none;
}
.buy-btn4
{
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    color: purple;
    font-style: italic;

}

.buy-btn5
{
    font:bolder;
    background-color: orange;
    color: blue;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    transition: 0.3s all;
}

.off1
{
    color: green;
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: bold;
}

.styles1
{
    color: black;
    font-size: 23px;
}

.ha h4
{
    font-size: 30px;
    font-weight: bold;
}

.h6
{
    font-size: 300px;   
}
